html {
    scroll-behavior: smooth;
}


body {
    margin: 0%; 
}

h1 {
    text-transform: uppercase; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 3%; 
    color:seagreen; 
    font-size: xx-large;
    text-decoration: underline mintcream;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1); 
    transition: transform 1s; 
}

.white-text {
    color: darksalmon;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif Bold;
    text-align: justify; 
    letter-spacing: 1px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px; 
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01); 
}

.center {
    text-align: center; 
}

.center:hover {
    transition: transform 2s; 
    transform: scale(1.1); 
}

a {
    color: mediumslateblue;
}

q {
    font-style: italic; 
}

img {
    filter: blur(2px); 
    border-radius: 50%; 
    max-width: 100%; 
    height: 340px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

img:hover {
	filter: grayscale(5%);  
    transition: transform 1s; 
    transform: scale(1.1); 
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: aquamarine;
}

.Navbar {
    overflow: hidden; 
    background-color: darkslategray; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1; 
    -webkit-animation: moveNav 5s; 
    animation: moveNav 5s; 
}

@keyframes moveNav {
    from {left: -100vw;} 
    to {left: 0vw;}
}

.Navbar a {
    float: left; 
    display: block; 
    color: coral; 
    padding: 14px 16px;
    text-decoration: none; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 20px; 
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 5.75s; 
    animation: moveNavText 5.75s; 
}

@keyframes moveNavText {
    from {top: -100vw;} 
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; 
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color:crimson; 
    color: burlywood; 
    font-weight: bold; 
}

.Navbar a.active { 
    background-color:indianred;
}

#Typing_Video {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    min-width: 100%;
    z-index: -1;
    min-height: 100%; 
}

@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: khaki;
    width: 100%; 
    padding: 20px; 
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

* {
    box-sizing: border-box; 
} 

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%; 
    height: 400px; 
    background-color:lightskyblue;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: teal;
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
	content: ""; 
	display: table;
	clear: both; 
}

/* Contact form styling */

/* Makes contact form button slide in from right on page load */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
  }
  
  /* Button used to open the contact form - fixed at the bottom of the page */
  .Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;  
    background-color: firebrick;
    color: coral;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    border: 3px solid aquamarine;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
  }
  
  /* Form styling */
  .form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: lightblue;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw; 
  }
  
  /* Submit button */
  .form-container .btn {
    background-color: rgb(242, 202, 43);
    color: black;
    border-color: seagreen;
    margin-bottom:1vh;
  }
  
  /* Close button */
  .form-container .cancel {
    background-color: rgb(184, 31, 11);
    color: white;
    border-color: mediumseagreen;
  }
  
  /* Button styling */
  button {
    font-family: "Trebuchet MS", Optima; 
    letter-spacing: .3vw; 
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
  }
  
  /* Hover effect for buttons */
  button:hover, .form-container .btn:hover{
    color: black;
    background-color: yellow;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
  }
  .form-container .cancel:hover{
    color: white;
    background-color: indigo;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
  }	
  
  /* Footer element */
  footer {
      padding: 2%;
      background-color:salmon;
  }

/* Slideshow Styling */
#Slideshow_Background {
    background:rgba(255,255,255, 0.35); /* This creates a slightly transparent white background that's placed over the video */
    }
  
  
.mySlides {
    display: none;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
  
}
  
/* Images contained within slideshow */
.Slide_Show_Images {
   vertical-align: middle;
   height: auto;
   box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
   width: auto;
}
  
  
/* Next and previous buttons */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}
  
/* Positioning the right-hand next button */
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; 
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}
  
/* Number text (1/6, 2/6, etc.) - we have set this display to none, which means these are hidden */
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; 
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}
  
/* The dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}
  
/* Hover effect for slideshow dots */ 
.active, .dot:hover {
    background-color: black;
}
  
/* Fading animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;  
}